# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
env/
venv/

# Distribution / packaging
*.egg-info/
dist/
build/

# Flask settings
instance/
*.sqlite3
*.db

# Logs and databases
*.log

# Environment variables
.env
*.env

# IDEs and editors
.vscode/
.idea/

# Static files and uploads (if applicable)
static/
uploads/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache

# Pytest and test cache
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Docker
Dockerfile
docker-compose.yml
